.pos_absolute {
  bottom: 0;
  border-top: 1px solid #c3b4b4 !important;
}

.w200 {
  width: 200px;
}

.h200 {
  height: 200px;
}

.example-box {
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.store_logo {
  border: 1px solid black;
  width: 100%;
  height: 60px;
  margin: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
