<div class="A20padding">
    <div class="dflex AIcenter">
        <a routerLink="/homescreen">
            <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

        </a>
        <span class="fs_24 boldtext lr15padding AScenter">Information Slide</span>
        <span class="divide"></span>
        <div class="AScenter">
            <button mat-button (click)="addSlide(1)"
                class="s_size semiboldtext purple_background normallineheight tb5padding l15padding r15padding White_txt">
                <mat-icon class="xml_size">add</mat-icon>
                Add Slide
            </button>
        </div>
    </div>

    <!-- slides -->

    <div class="t50margin boxshw" (click)="slide = false">
        <div class="dflex JCevenly M100width tb15padding s_size">
            <div class="M5width"></div>
            <div class="regulartext M25width gray_txt">Date Added</div>
            <div class="regulartext M25width c_align gray_txt">Slides</div>
            <div class="regulartext M45width c_align gray_txt">Action</div>
        </div>
        <div cdkDropListGroup>
            <div class="example-container M100width">
                <div cdkDropList class="example-list">
                    <div class="example-box tborder s_size" *ngFor="let item of getVideoData;let i = index" cdkDrag>
                        <div class="M5width dflex JCcenter">
                            <mat-icon>menu</mat-icon>
                        </div>
                        <div class="M25width l_align gray_txt">
                            {{item.created_at.toDate() | date:'MMM dd, yyyy'}}
                        </div>
                        <div class="M25width c_align semiboldtext cursor_pointer">
                            <!-- slide {{i+1}} -->
                            {{item.name}}
                        </div>
                        <div class="M45width c_align">
                            <a>
                                <mat-icon
                                    class="black_text r20margin cursor_pointer">visibility</mat-icon>
                            </a>
                            <a>
                                <mat-icon (click)="deleteVid(item.id)"
                                    class="black_text cursor_pointer">delete</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>