<div class="A20padding">
    <div>
        <span class="xxl_size boldtext r15padding AScenter">Setting</span>
    </div>
    <div class="t50margin">
        <a mat-raised-button (click)="addUpdateCAA(1)"
            class="crud_ctas s_size semiboldtext purple_background normallineheight White_txt r10margin">
            Create City
        </a>
    </div>

    <div class="Aborder t15margin">
        <div class="tb10padding dflex c_align">
            <div class="M25width">
                City Name
            </div>
            <div class="M25width">
                Areas Added
            </div>
            <div class="M25width">
                Created Date
            </div>
            <div class="M25width">
                Action
            </div>
        </div>
        <div class="tb10padding dflex c_align tborder" *ngFor="let item of cityarr">
            <div class="M25width">
                {{item.CityN}}
            </div>
            <div class="M25width dflex JCcenter">
                <div *ngFor="let items of item.Areas" class="Aborder r5margin lr5padding">
                    {{items.Area_N}}
                </div>
            </div>
            <div class="M25width">
                {{item.CDateTime.toDate() | date:'MMM dd, yyyy'}}
            </div>
            <div class="M25width dflex JCcenter">
                <mat-icon class="r10padding" (click)="deletecity(item.id)">
                    delete
                </mat-icon>
                <mat-icon (click)="addUpdateCAA(1,item)">
                    edit
                </mat-icon>
            </div>
        </div>
    </div>

    <div class="t50margin">
        <a mat-raised-button (click)="addUpdateCAA(2)"
            class="crud_ctas s_size semiboldtext purple_background normallineheight White_txt r10margin">
            Create Area
        </a>
    </div>

    <div class="Aborder t15margin">
        <div class="tb10padding dflex c_align">
            <div class="M25width">
                Area Name
            </div>
            <div class="M25width">
                Created Date
            </div>
            <div class="M25width"></div>
            <div class="M25width">
                Action
            </div>
        </div>
        <div class="tb10padding dflex c_align tborder" *ngFor="let item of areaarr">
            <div class="M25width">
                {{item.Area_N}}
            </div>
            <div class="M25width">
                {{item.CDateTime.toDate() | date:'MMM dd, yyyy'}}
            </div>
            <div class="M25width"></div>
            <div class="M25width">
                <mat-icon (click)="deletearea(item.id)">
                    delete
                </mat-icon>
            </div>
        </div>
    </div>
</div>