<div class="A20padding">
    <div>
        <span class="xxl_size boldtext r15padding AScenter">Setting</span>
    </div>
    <div class="t50margin">
        <a mat-raised-button (click)="addUpdateCAA(1)"
            class="crud_ctas s_size semiboldtext purple_background normallineheight White_txt r10margin">
            Create City
        </a>
        <a mat-raised-button (click)="addUpdateCAA(2)"
            class="crud_ctas s_size semiboldtext purple_background normallineheight White_txt r10margin">
            Create Area
        </a>
    </div>
    <div class=" t15margin">
        <div class="tb10padding dflex c_align">
            <div class="M15width">
                City Name
            </div>
            <div class="M45width">
                Areas Added
            </div>
            <div class="M25width">
                Created Date
            </div>
            <div class="M15width">
                Action
            </div>
        </div>
        <div class="tb10padding dflex c_align" *ngFor="let item of cityarr">
            <mat-expansion-panel class="M100width">
                <mat-expansion-panel-header>
                    <div class="M15width">
                        {{item.CityN}}
                    </div>
                    <div class="M45width dflex JCcenter">
                        <ng-container *ngFor="let items of item.Areas;let i = index">
                            <div *ngIf="i < 2" class="Aborder r5margin lr10padding A20radius">
                                {{items.Area_N}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="M25width">
                        {{item.CDateTime.toDate() | date:'MMM dd, yyyy'}}
                    </div>
                    <div class="M15width dflex JCcenter">
                        <mat-icon class="r10padding" (click)="deletecity(item.id)">
                            delete
                        </mat-icon>
                        <mat-icon (click)="addUpdateCAA(1,item)">
                            edit
                        </mat-icon>
                    </div>
                </mat-expansion-panel-header>
                <div class="Aborder t15margin">
                    <div class="tb10padding dflex c_align">
                        <div class="M25width">
                            Area Name
                        </div>
                        <div class="M25width">
                            Created Date
                        </div>
                        <div class="M25width"></div>
                        <div class="M25width">
                            Action
                        </div>
                    </div>
                    <div class="tb10padding dflex c_align tborder" *ngFor="let items of item.Areas">
                        <div class="M25width">
                            {{items.Area_N}}
                        </div>
                        <div class="M25width">
                            {{items.CDateTime.toDate() | date:'MMM dd, yyyy'}}
                        </div>
                        <div class="M25width"></div>
                        <div class="M25width">
                            <mat-icon (click)="deletearea(items.id)">
                                delete
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
</div>
