<div class="A20padding">
  <div class="dflex AIcenter">
    <a routerLink="/homescreen">
      <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
    <span class="xxl_size boldtext lr15padding AScenter">Category</span>
  </div>
  <div class="boldtext m_size t30margin">
    Categories
  </div>
  <div class="t15margin boxshw">
    <div class="dflex JCevenly M100width tb15padding s_size purple_background White_txt">
      <div class="M10width c_align">Rank</div>
      <div class="regulartext M65width">Category name</div>
      <div class="regulartext M25width c_align">Action</div>
    </div>
    <div cdkDropListGroup>
      <div class="example-container M100width">
        <div cdkDropList [cdkDropListData]="auth.resource.categoryList" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of auth.resource.categoryList" cdkDrag>
            <div class="M10width dflex JCcenter">
              <mat-icon>menu</mat-icon>
            </div>
            <div class="M65width l_align">
              {{item.title}}
            </div>
            <div class="M25width c_align">
              <a [routerLink]="'/HGBcatstores/'+item.id">
                <mat-icon class="black_text">edit</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
