<div class="A20padding">
    <div class="dflex AIcenter">
        <a routerLink="/homescreen">
            <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </a>
        <span class="xxl_size boldtext lr15padding AScenter">What’s new in your hood</span>
    </div>
    <div class="t20padding">
        <div class="boldtext l_size t30margin b20margin">Module details</div>
        <div class="Aborder A5radius A20padding">
            <div class="dflex">
                <div>
                    <div class="t20margin b5margin">
                        <div class="m_size crminput r15padding AScenter">Module name</div>
                    </div>
                    <div>
                        <mat-form-field class="crminput l5margin r5margin" appearance="outline">
                            <input type="text" matInput placeholder="Enter the module name">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div class="t20margin b5margin">
                        <div class="m_size crminput r15padding AScenter">Subtext</div>
                    </div>
                    <div>
                        <mat-form-field class="crminput l5margin r5margin" appearance="outline">
                            <input type="text" matInput placeholder="Enter the subtext name">
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div>
                <button mat-button routerLink="/newstoreinyourhooddetails"
                    class="crud_ctas s_size semiboldtext purple_background normallineheight White_txt l5margin t10margin">Next</button>
            </div>
        </div>
    </div>
</div>