.browse {
  padding: 6px 30px;
}

.bg_fb {
  background: #fbfbfb;
}

.feedmoduleImg {
  width: 35%;
  img {
    width: 100%;
    min-height: 45px;
    object-fit: contain;
  }
}

.file-input {
  display: none;
}
