<div class="A20padding">
    <div class="dflex AIcenter">
        <a routerLink="/feedmodule">
            <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

        </a>
        <span class="fs_24 boldtext lr15padding AScenter">Information Slide
        </span>

    </div>





    <div class="dottedborder A20padding c_align t50margin bg_fb">

        <div class="m_size gray_txt">
            Drag or drop your file here
        </div>
        <div class="t10margin b10margin gray_txt">
            or
        </div>
        <div>
            <!-- <button mat-button
                class="Apurpleborder s_size normallineheight purple_txt browse b10margin cursor_pointer">Browse</button> -->

            <input class="b10margin d_none" #hiddenfileinput type="file" (change)="onSelectFile($event)">


            <button mat-button (click)="hiddenfileinput.click()"
                class="file-upload Apurpleborder s_size normallineheight purple_txt browse b10margin cursor_pointer d_inline">

                {{"Browse"}}

            </button>
        </div>
        <div class="s_size gray_txt b5margin">
            Maximum upload file size - 24 MB
        </div>
        <div class="s_size gray_txt">
            Media ratio - 16 : 9
        </div>
    </div>

    <div class="dflex AIcenter Aborder A5padding t20margin A5radius" *ngIf="fileName >= '0'">
        <div class="feedmoduleImg">
            <img #imagePreview [src]="url" *ngIf="format==='image' && url">
            <video #videoPlayer [src]="url" *ngIf="format==='video' && url" controls height="100"></video>
        </div>
        <div class="l10margin">
            {{fileName}}
        </div>
        <!-- <div class="l10margin" *ngIf="view()">
            {{showData.name}}
        </div> -->
        <span class="divide"></span>
        <!-- <div>
            <input class="b10margin d_none" #hiddenfileinput type="file" (change)="onSelectFile($event)">
            <a class="text_decoration_none r20margin purple_txt semiboldtext cursor_pointer">{{"Update"}}</a>
        </div>
        <div>
            <a class="text_decoration_none r20margin purple_txt semiboldtext cursor_pointer">Preview</a>
        </div>
        <div>
            <mat-icon class="r20margin cursor_pointer">
                delete
            </mat-icon>
        </div> -->

    </div>



    <!-- <div>
        <div class="t20margin b15margin">
            <div class="s_size semiboldtext crminput r15padding AScenter">Slide Name
            </div>
        </div>
        <div>
            <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
                <input type="number" matInput placeholder="Enter the URL path">
            </mat-form-field>
        </div>
    </div> -->
    <!-- 
    <img [src]="url" *ngIf="format==='image' && url" height="200"> <br />
    <video [src]="url" *ngIf="format==='video' && url" height="200" controls></video> -->

    <div>
        <button (click)="addVideo()" mat-button
            class="s_size normallineheight purple_background White_txt browse t50margin">Save</button>
    </div>
</div>


<!--  -->