::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    background-color: transparent !important;
}

:ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0;
}

:ng-deep .mat-form-field-appearance-fill .mat-form-field-infix{
    border: 1px solid gray !important;
}

:ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    border: 1px solid black !important;
}