table {
    width: 100%;
    thead tr {
        background-color: #F2F2F2;
    }
}

button {
    background: #FFF;
    color: #874BF9;
    display: flex;
    border: none;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    span {
        align-self: center;
        padding-left: 5px;
    }
}

thead {
    background-color: #F2F2F2;
}

.Failed_Tran{
    background-color: #ff000033;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    text-align: center;
}