<div class="A20padding">
    <div class="dflex AIcenter">
        <a routerLink="/homescreen">
            <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
        </a>
        <span class="xxl_size boldtext lr15padding AScenter">Brand Spotlight</span>
    </div>
    <div class="t50margin lr55padding">
        <div>
            <div class="boldtext l_size t30margin b20margin">Module details</div>
            <div class="Aborder A5radius A20padding b20margin dflex">
                <div class="M50width">
                    <div class="t20margin b15margin">
                        <div class="m_size crminput r15padding AScenter">Module name</div>
                    </div>
                    <div>
                        <mat-form-field class="crminput l5margin r5margin M80width Editableinput" appearance="outline">
                            <input type="text" [(ngModel)]="brandspotT" matInput placeholder="Enter the module name"
                                [disabled]="!editTitle">
                            <button matSuffix mat-icon-button aria-label="Clear" class="purple_background"
                                (click)="updateBSTitle()">
                                <mat-icon>
                                    {{editTitle ? 'check': 'edit'}}
                                </mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="M50width">
                    <div class="t20margin b15margin">
                        <div class="m_size crminput r15padding AScenter">Subtext</div>
                    </div>
                    <div>
                        <mat-form-field class="crminput l5margin r5margin M80width Editableinput" appearance="outline">
                            <input type="text" [(ngModel)]="brandspotST" matInput placeholder="Enter the subtext name"
                                [disabled]="!editSubt">
                            <button matSuffix mat-icon-button aria-label="Clear" class="purple_background"
                                (click)="updateBSSTitle()">
                                <mat-icon>
                                    {{editSubt ? 'check': 'edit'}}
                                </mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="t50margin lr55padding">
        <div class="Aborder A5radius A20padding b20margin">
            <div class="boldtext l_size t30margin b20margin">Apply Filter to search store</div>
            <div class="dflex">
                <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
                    <mat-select placeholder="Filter Type" [(ngModel)]="parameters">
                        <mat-option *ngFor="let item of ParaArr" [value]="item.titvalue">
                            {{item.Title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
                    <mat-select placeholder="Operator's" [(ngModel)]="operators">
                        <mat-option value="==">
                            Equal to
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="l5margin r5margin M30width crminput" appearance="outline">
                    <input type="string" matInput [(ngModel)]="searchvalue">
                </mat-form-field>
            </div>
            <div class="dflex JCcenter">
                <button class="viewbtn t10padding b10padding l30padding r30padding t10margin b15margin"
                    (click)="ApplyFilter()">
                    Apply Filter
                </button>
            </div>
            <table *ngIf="MerchantdataSource" class="crmtable" mat-table [dataSource]="MerchantdataSource" matSort>
                <ng-container matColumnDef="MerchantId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Merchant ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>
                <ng-container matColumnDef="storename">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>
                <ng-container matColumnDef="contact">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Contact</th>
                    <td mat-cell *matCellDef="let row">
                        <div>{{row.phone}}</div>
                        <div class="gray_txt xxs_size">{{row.email}}</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="storetype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Type</th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="row.type == 'Both' ">Hybrid</div>
                        <div *ngIf="row.type == 'Onli' ">Online</div>
                        <div *ngIf="row.type == 'Offl' ">Offline</div>
                        <div class="gray_txt xxs_size">{{row.cat}}</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> City </th>
                    <td mat-cell *matCellDef="let row">{{row.loc[0].city}}</td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> Action </th>
                    <td mat-cell *matCellDef="let row" (click)="action(row)">
                        <mat-icon>
                            {{isstorealreadyadded ?'remove':'add_circle'}}
                        </mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="marchantColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: marchantColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                </tr>
            </table>
        </div>
    </div>
    <div class="lr55padding">
        <div class="boldtext l_size t50margin b20margin">All stores</div>
        <div class="dWrap dflex">
            <section *ngFor="let x of BSmoduleStoredata;let i =index">
                <main class="section">
                    <div class="w200 h200 Aborder pos_relative">
                        <div class="img ">
                            <img class="M100width h200 object_fit_cover"
                                [src]=" x.Brandspotlightbanner != undefined ? x.Brandspotlightbanner : x.banner "
                                alt="banner" />
                        </div>
                    </div>
                    <div class="w200 Aborder t10margin b10margin tb10padding regulartext s_size">
                        <div class="c_align boldtext m_size b15margin">
                            {{x.name}}
                        </div>
                        <div class="c_align">{{api.getCat(x.cat)}}</div>
                    </div>
                    <div (click)="takePicture('3:4','homeBanner',x.id)"
                        class="w200 Aborder dflex JCcenter AIcenter t10margin b10margin tb10padding regulartext s_size">
                        <mat-icon>photo_camera</mat-icon>
                        Camera
                    </div>
                    <div (click)="api.AddORRemoveSectionStores(2,x.id,nodestoresid)"
                        class="w200 Aborder dflex JCcenter AIcenter t10margin b10margin tb10padding regulartext s_size red_txt">
                        <mat-icon>delete</mat-icon>
                        Delete
                    </div>
                </main>
            </section>
        </div>
    </div>
</div>
