.pos_absolute {
    bottom: 0;
    border-top: 1px solid #c3b4b4 !important;
  }
  
  .w200 {
    width: 200px;
  }
  
  .h200 {
    height: 200px;
  }
  
  .section {
    margin-right: 20px !important;
  }
  