.area_lists {
  padding: 0;
  text-align: center;
  border: 1px solid #ccc;
  display: block;
  width: 50%;
  background: white;
  list-style: none;
  
  .areas {
    border-bottom: 1px solid lightgray;
    padding: 8px 0;
    cursor: pointer;
  }

  .areas:hover {
    background-color: #f1f1f1;
  }

  .areas:last-child {
    border-bottom: none;
  }
}

.chips {
  border: 1px solid #eddaff;
  background: #fbf8ff;
  display: block;
  width: fit-content;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 10px;

  .close {
    margin-left: 5px;
  }
}

input.ng-touched.ng-invalid {
  border-color: red;
}

.multiselect-dropdown {
  width: 40% !important;
}