<div class="A20padding">
  <div>


    <input class="b10margin d_none" #hiddenfileinput type="file" (change)="cloudupload2($event)">
    <button mat-button (click)="hiddenfileinput.click()"
        class="file-upload Apurpleborder s_size normallineheight purple_txt browse b10margin cursor_pointer d_inline">
        {{"Browse"}}
    </button>


  </div>
    <div class="dflex">
        <span class="xxl_size boldtext r15padding AScenter">Node management module</span>
    </div>
    <div class="t50margin boxshw">
        <div class="dflex M100width tb15padding s_size">
            <div class="regulartext M50width l10padding">City name</div>
            <div class="regulartext M25width c_align">Created Date</div>
            <div class="regulartext M25width c_align">Action</div>
        </div>
        <div>
            <div class="example-container M100width">
                <div class="example-list">
                    <ng-container *ngIf="cityList$ | async as cityList">
                        <div class="dflex tborder s_size" *ngFor="let item of cityList" cdkDrag>
                            <div class="M50width l_align tb10padding l10padding">
                                {{item.CityN}}
                            </div>
                            <div class="M25width c_align tb10padding">
                                {{item.CDateTime.toDate() | date:'MMM dd, yyyy' }}
                            </div>
                            <div class="M25width c_align tb10padding">
                                <a [routerLink]="'/nodemanage/'+item.id">
                                    <mat-icon class="black_text">edit</mat-icon>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
