<div class="A20padding"  *ngIf="auth.user$ | async as mine">
    <div class="dflex AIcenter">
        <div class="l_size b15padding t20padding">
            <span class="boldtext AScenter">Overview</span>
        </div>
        <span class="divide"></span>
        <div >
            <button mat-button (click)="auth.signOut()" aria-label="" color="warn"><mat-icon>logout</mat-icon><span> Sign out</span></button>    
        </div>
    </div>
    <div class="dflex JCspace">
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of stores
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of users
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total number of Orders
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>


    <div class="dflex JCspace t20padding">
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total campaign wallet fund
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total store wallet fund
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Total Earning (Refr)
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>

    <div class="l_size b15padding t30padding">
        <span class="boldtext AScenter">Stores</span>
    </div>
    <div class="dflex">
        <div class="card lr10padding r15margin H_width">
            <div class="dflex JCspace lr5padding">
                <div class="m_size boldtext">
                    Total no of Stores
                </div>
                <div class="m_size purple_txt boldtext">
                    See All
                </div>
            </div>
            <div class="dflex JCspace t30padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Online stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t10padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Offline stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t15padding lr5padding">
                <div class="m_size">
                    Hybrid stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>
        </div>


        <div class="card lr10padding H_width">
            <div class="dflex JCspace lr5padding">
                <div class="m_size boldtext">
                    Total no of Campaign
                </div>
                <div class="m_size purple_txt boldtext">
                    See All
                </div>
            </div>
            <div class="dflex JCspace t30padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Online stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t10padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Offline stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t15padding lr5padding">
                <div class="m_size">
                    Hybrid stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>
        </div>
    </div>
    <div class="dflex t15margin">
        <div class="card lr10padding dflex JCspace r15margin H_width">
            <div class="l_size boldtext boldtext l5padding">
                Total no of Product
            </div>
            <div class="m_size AScenter r5padding">
                2321
            </div>
        </div>
        <div class="card lr10padding dflex JCspace H_width">
            <div class="l_size boldtext boldtext l5padding">
                Location
            </div>
            <div class="m_size AScenter r5padding">
                2321
            </div>
        </div>
    </div>

    <div class="l_size b15padding t30padding">
        <span class="boldtext AScenter">Product</span>
    </div>
    <div class="dflex">
        <div class="card lr10padding r15margin H_width">
            <div class="dflex JCspace lr5padding">
                <div class="m_size boldtext">
                    Total no of Product
                </div>
                <div class="m_size purple_txt boldtext">
                    See All
                </div>
            </div>
            <div class="dflex JCspace t30padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Online stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t10padding b10padding lr5padding bborder_dash">
                <div class="m_size">
                    Offline stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>

            <div class="dflex JCspace t15padding lr5padding">
                <div class="m_size">
                    Hybrid stores
                </div>
                <div class="m_size boldtext">
                    2321
                </div>
            </div>
        </div>
        <div class="H_width">
            <div class="card lr10padding dflex JCspace M100width">
                <div class="l_size boldtext boldtext">
                    Shipped
                </div>
                <div class="m_size AScenter">
                    2321
                </div>
            </div>
            <div class="card lr10padding dflex JCspace M100width t15margin">
                <div class="l_size boldtext boldtext">
                    Delivered
                </div>
                <div class="m_size AScenter">
                    2321
                </div>
            </div>
            <div class="card lr10padding dflex JCspace M100width t15margin">
                <div class="l_size boldtext boldtext">
                    Order revenue
                </div>
                <div class="m_size AScenter">
                    2321
                </div>
            </div>
        </div>
    </div>

    <div class="l_size b15padding t30padding">
        <span class="boldtext AScenter">Burn</span>
    </div>

    <div class="dflex JCspace">
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Total number of product
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Shipped
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Delivered
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Burn Revenue
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>



    <div class="l_size b15padding t30padding">
        <span class="boldtext AScenter">Revenue</span>
    </div>
    <div class="dflex JCspace b30padding">
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Campaign revenue
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Order revenue
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card r10margin">
            <div>
                <div class="gray_txt">
                    Burn Revenue
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="gray_txt">
                    Payout
                </div>
                <div class="xl_size boldtext t5padding">
                    14232
                </div>
            </div>
        </div>
    </div>



</div>