<div class="A20padding">
  <div class="dflex AIcenter">
    <a routerLink="/homescreen">
      <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 12H5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M12 19L5 12L12 5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
    <span class="xxl_size boldtext lr15padding AScenter">{{selectedcat}} internal</span>
  </div>
  <div class="t40margin b20margin">
    <div>
      <span class="s_size boldtext">People’s Choice </span> <span class="xs_size gray_txt">(Maximum 250 words)</span>
    </div>
    <div>
      <mat-form-field class="l5margin r5margin M50width crminput Editableinput" appearance="outline">
        <input type="string" matInput maxlength="250" [(ngModel)]="peoplechoicesubcatpara"
          [disabled]="!editpeoplechoice">
        <button (click)="updatepeoplechoice()" matSuffix mat-icon-button aria-label="Clear" class="purple_background">
          <mat-icon>
            {{editpeoplechoice ? 'check': 'edit'}}
          </mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="boldtext m_size t40margin b20margin">
    People choice stores
  </div>
  <div class="Aborder A5radius A20padding b20margin">
    <div class="boldtext l_size b20margin">Apply Filter to search store</div>
    <div class="dflex">
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Filter Type" [(ngModel)]="parameters">
          <mat-option *ngFor="let item of ParaArr" [value]="item.titvalue">
            {{item.Title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Operator's" [(ngModel)]="operators">
          <mat-option value="==">
            Equal to
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="l5margin r5margin M30width crminput" appearance="outline">
        <input type="string" matInput [(ngModel)]="searchvalue">
      </mat-form-field>
    </div>
    <div class="dflex JCcenter">
      <button class="viewbtn t10padding b10padding l30padding r30padding t10margin b15margin" (click)="ApplyFilter(1)">
        Apply Filter
      </button>
    </div>
  </div>
  <table *ngIf="MerchantdataSource" class="crmtable" mat-table [dataSource]="MerchantdataSource" matSort>
    <ng-container matColumnDef="MerchantId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Merchant ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="storename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Name</th>
      <td mat-cell *matCellDef="let row">
        {{row.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Contact</th>
      <td mat-cell *matCellDef="let row">
        <div>{{row.phone}}</div>
        <div class="gray_txt xxs_size">{{row.email}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="storetype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Type</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.type == 'Both' ">Hybrid</div>
        <div *ngIf="row.type == 'Onli' ">Online</div>
        <div *ngIf="row.type == 'Offl' ">Offline</div>
        <div class="gray_txt xxs_size">{{row.cat}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> City </th>
      <td mat-cell *matCellDef="let row">{{row.loc[0].city}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> Action </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="action(1,row)" *ngIf="isstorealreadyadded == false">
          {{isstorealreadyadded ?'remove':'add_circle'}}
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="marchantColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: marchantColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
    </tr>
  </table>
  <div *ngIf="PChoiceStores.length > 0" class="t15margin boxshw">
    <div class="dflex JCevenly M100width tb15padding s_size">
      <div class="M10width c_align">Rank</div>
      <div class="regulartext M40width">Store Name</div>
      <div class="regulartext M25width">Category</div>
      <div class="regulartext M25width c_align">Action</div>
    </div>
    <div cdkDropListGroup>
      <div class="example-container M100width">
        <div cdkDropList [cdkDropListData]="PChoiceStores" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of PChoiceStores" cdkDrag>
            <div class="M10width dflex JCcenter">
              <mat-icon>menu</mat-icon>
            </div>
            <div class="M40width l_align">
              {{item.name}}
            </div>
            <div class="M25width l_align">
              {{item.cat}}
            </div>
            <div class="M25width c_align dflex JCcenter">
              <a (click)="deletestore(1,item.sectionid)" class="r20margin">
                <mat-icon class="black_text">delete</mat-icon>
              </a>
              <a (click)="takePicture('peopleCstorebanner',item.sectionid)">
                <mat-icon class="black_text">photo_camera</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>









  <div class="boldtext m_size t40margin b20margin">
    Brand you love
  </div>
  <div class="Aborder A5radius A20padding b20margin">
    <div class="boldtext l_size b20margin">Apply Filter to search store</div>
    <div class="dflex">
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Filter Type" [(ngModel)]="parameters1">
          <mat-option *ngFor="let item of ParaArr1" [value]="item.titvalue">
            {{item.Title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Operator's" [(ngModel)]="operators">
          <mat-option value="==">
            Equal to
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="l5margin r5margin M30width crminput" appearance="outline">
        <input type="string" matInput [(ngModel)]="searchvalue1">
      </mat-form-field>
    </div>
    <div class="dflex JCcenter">
      <button class="viewbtn t10padding b10padding l30padding r30padding t10margin b15margin" (click)="ApplyFilter(2)">
        Apply Filter
      </button>
    </div>
  </div>
  <table *ngIf="MerchantdataSource1" class="crmtable" mat-table [dataSource]="MerchantdataSource1" matSort>
    <ng-container matColumnDef="MerchantId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Merchant ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="storename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Name</th>
      <td mat-cell *matCellDef="let row">
        {{row.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Contact</th>
      <td mat-cell *matCellDef="let row">
        <div>{{row.phone}}</div>
        <div class="gray_txt xxs_size">{{row.email}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="storetype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Type</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.type == 'Both' ">Hybrid</div>
        <div *ngIf="row.type == 'Onli' ">Online</div>
        <div *ngIf="row.type == 'Offl' ">Offline</div>
        <div class="gray_txt xxs_size">{{row.cat}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> City </th>
      <td mat-cell *matCellDef="let row">{{row.loc[0].city}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> Action </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="action(2,row)" *ngIf="isstorealreadyadded1 == false">
          {{isstorealreadyadded1 ?'remove':'add_circle'}}
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="marchantColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: marchantColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
    </tr>
  </table>




  <div *ngIf="trendingStores.length > 0" class="t15margin boxshw">
    <div class="dflex JCevenly M100width tb15padding s_size">
      <div class="M10width c_align">Rank</div>
      <div class="regulartext M40width">Store Name</div>
      <div class="regulartext M25width">Category</div>
      <div class="regulartext M25width c_align">Action</div>
    </div>
    <div cdkDropListGroup>
      <div class="example-container M100width">
        <div cdkDropList [cdkDropListData]="trendingStores" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of trendingStores" cdkDrag>
            <div class="M10width dflex JCcenter">
              <mat-icon>menu</mat-icon>
            </div>
            <div class="M40width l_align">
              {{item.name}}
            </div>
            <div class="M25width l_align">
              {{item.cat}}
            </div>
            <div class="M25width c_align dflex JCcenter">
              <a (click)="deletestore(2,item.sectionid)" class="r20margin">
                <mat-icon class="black_text">delete</mat-icon>
              </a>
              <a (click)="takePicture('trendingstorebanner',item.sectionid)">
                <mat-icon class="black_text">photo_camera</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>










  <div class="boldtext m_size t40margin b20margin">
    Products you love
  </div>
  <div class="Aborder A5radius A20padding b20margin">
    <div class="boldtext l_size b20margin">Apply Filter to search store</div>
    <div class="dflex">
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Filter Type" [(ngModel)]="parameters2">
          <mat-option *ngFor="let item of ParaArr1" [value]="item.titvalue">
            {{item.Title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="crminput l5margin r5margin M30width" appearance="outline">
        <mat-select placeholder="Operator's" [(ngModel)]="operators">
          <mat-option value="==">
            Equal to
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="l5margin r5margin M30width crminput" appearance="outline">
        <input type="string" matInput [(ngModel)]="searchvalue2">
      </mat-form-field>
    </div>
    <div class="dflex JCcenter">
      <button class="viewbtn t10padding b10padding l30padding r30padding t10margin b15margin" (click)="ApplyFilter(3)">
        Apply Filter
      </button>
    </div>
  </div>
  <table *ngIf="MerchantdataSource2" class="crmtable" mat-table [dataSource]="MerchantdataSource2" matSort>
    <ng-container matColumnDef="MerchantId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Merchant ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="storename">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Name</th>
      <td mat-cell *matCellDef="let row">
        {{row.name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Contact</th>
      <td mat-cell *matCellDef="let row">
        <div>{{row.phone}}</div>
        <div class="gray_txt xxs_size">{{row.email}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="storetype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading">Store Type</th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.type == 'Both' ">Hybrid</div>
        <div *ngIf="row.type == 'Onli' ">Online</div>
        <div *ngIf="row.type == 'Offl' ">Offline</div>
        <div class="gray_txt xxs_size">{{row.cat}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> City </th>
      <td mat-cell *matCellDef="let row">{{row.loc[0].city}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-heading"> Action </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="action(3,row)" *ngIf="isstorealreadyadded2 == false">
          {{isstorealreadyadded2 ?'remove':'add_circle'}}
        </mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="marchantColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: marchantColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
    </tr>
  </table>






  <div *ngIf="homegrownproducts.length > 0" class="t15margin boxshw">
    <div class="dflex JCevenly M100width tb15padding s_size">
      <div class="M10width c_align">Rank</div>
      <div class="regulartext M40width">Store Name</div>
      <div class="regulartext M25width">Category</div>
      <div class="regulartext M25width c_align">Action</div>
    </div>
    <div cdkDropListGroup>
      <div class="example-container M100width">
        <div cdkDropList [cdkDropListData]="homegrownproducts" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of homegrownproducts" cdkDrag>
            <div class="M10width dflex JCcenter">
              <mat-icon>menu</mat-icon>
            </div>
            <div class="M40width l_align">
              {{item.name}}
            </div>
            <div class="M25width l_align">
              {{item.cat}}
            </div>
            <div class="M25width c_align dflex JCcenter">
              <a (click)="deletestore(3,item.Docid)" class="r20margin">
                <mat-icon class="black_text">delete</mat-icon>
              </a>
              <a (click)="takePicture('productsbanner',item.Docid)">
                <mat-icon class="black_text">photo_camera</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- <div *ngIf="homegrownproducts.length > 0" class="t15margin boxshw">
    <div class="dflex JCevenly M100width tb15padding s_size">
      <div class="M10width c_align">Rank</div>
      <div class="regulartext M40width">Store Name</div>
      <div class="regulartext M25width">Category</div>
      <div class="regulartext M25width c_align">Action</div>
    </div>
    <div cdkDropListGroup>
      <div class="example-container M100width">
        <div cdkDropList [cdkDropListData]="homegrownproducts" class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of homegrownproducts" cdkDrag>
            <div class="M10width dflex JCcenter">
              <mat-icon>menu</mat-icon>
            </div>
            <div class="M40width l_align">
              {{item.title}}
            </div>
            <div class="M25width l_align">
            </div>
            <div class="M25width c_align dflex JCcenter">
              <a (click)="deleteproduct(item.Docid)" class="r20margin">
                <mat-icon class="black_text">delete</mat-icon>
              </a>
              <a (click)="takePicture('productsbanner',item.Docid)">
                <mat-icon class="black_text">photo_camera</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
