mat-sidenav {
  background: #8500e2;
  width: 20%;
  max-width: 20%;

  .logo_div {
    padding: 10% 0 8% 0;
    .refr_logo {
      width: 80px !important;
    }
  }
  button {
    width: 100%;
    text-align: left;
    color: #ffffff;
    svg {
      width: 20px;
      padding-right: 10px;
    }
    
    .title {
      line-height: 1px;
    }
  }
}
