<div class="A20padding">
    <div class="dflex">
        <span class="xxl_size boldtext r15padding AScenter">Homescreen module</span>
    </div>
    <div class="t50margin boxshw">
        <div class="dflex JCevenly M100width tb15padding s_size">
            <div class="M5width"></div>
            <div class="regulartext M45width">Section name</div>
            <div class="regulartext M25width c_align">Visibility</div>
            <div class="regulartext M25width c_align">Action</div>
        </div>
        <div cdkDropListGroup>
            <div class="example-container M100width">
                <div cdkDropList [cdkDropListData]="feedSection" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box tborder s_size" *ngFor="let item of feedSection" cdkDrag>
                        <div class="M5width dflex JCcenter">
                            <mat-icon>menu</mat-icon>
                        </div>
                        <div class="M45width l_align">
                            {{item.feed}}
                        </div>
                        <div class="M25width c_align">
                        </div>
                        <div class="M25width c_align">
                            <a [routerLink]="item.link">
                                <mat-icon class="black_text">edit</mat-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
