<div class="A20padding">
    <div class="boldtext xl_size">
      Categories
    </div>
    <div class="t15margin boxshw">
      <div class="dflex JCevenly M100width tb15padding s_size purple_background c_white">
        <div class="M10width c_align">Rank</div>
        <div class="regulartext M65width">Category name</div>
        <div class="regulartext M25width c_align">Action</div>
      </div>
      <div>
        <div class="example-container M100width">
          <div class="example-list">
            <div class="example-box tborder s_size dflex tb10padding" *ngFor="let item of auth.resource.categoryList">
              <div class="M10width dflex JCcenter">
                <mat-icon>menu</mat-icon>
              </div>
              <div class="M65width l_align">
                {{item.title}}
              </div>
              <div class="M25width c_align">
                <a [routerLink]="'/Category/'+item.id">
                  <mat-icon class="black_text">edit</mat-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
