.cat_thumbnail{
    width: 180px;
    border: 1px solid lightgray;
}

.cat_banner{
    border: 1px solid lightgray;
    width: 400px;
}

.section {
  margin-left: 23px !important;
  margin-right: 23px !important;
  margin-bottom: 50px !important;
}

.w200 {
  width: 200px;
}

.h200 {
  height: 200px;
}
